*{
    font-size: 3vh;
    border: 0;
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
    overflow-y: hidden;
}

.emote:hover{
    background-color: rgb(57, 44, 139);
}

.emote-img{
    background-color: purple;
    padding: 32px;
    border-radius: 10px;
}

/* .emote-background{
    width: 192px;
    height: 192px;
    border-radius: 1rem;
    background-color: purple;
}

.emote-background:hover{
    background-color: rgb(75, 0, 75);
} */

.active{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: darkslateblue;
}

.loading{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden{
    display: none;
}

.emote-name{
    font-size: 5rem;
}