@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    font-size: 3vh;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Righteous', cursive;
}

html{
    height: 100%;
    overflow-y: none;
    overflow-x: none;
}

header{
    height: 100px;
    background-color: cadetblue;
}

body{
    height: 100%;
}

main{
    display: grid; 
    height: calc(100% - 100px);
}

.emote:hover{
    background-color: rgb(57, 44, 139);
}

.emote-down-animation{
    position: relative;
    animation: emoteDown 0.1s ease-out 0s 1 normal both running;
}

.emote:hover .emote-background-dark .emote-background{
    position: relative;
    animation: emoteUp 0.1s ease-out 0s 1 normal both running;
}

.emote-name{
    font-size: 5rem;
}

.emote-img{
    border-radius: 10px;
}

.emote-background{
    border-radius: 10px;
    background-color: rosybrown;
    padding: 32px;
}

.emote-background-dark{
    border-radius: 10px;
    background-color: brown;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.none{
    display: none;
}

.hidden{
    visibility: hidden;
}

.loading{
    position: absolute;
    top: calc(50% - 87.5px);
    left: calc(50% - 170px);
    animation: spin 0.01s linear infinite;
}

@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}

.peepo-hey-div{
    position: absolute;
    bottom: -9px;
    right: 10px;
}

.peepo-hey{
    transform: scaleX(-1);
}

.peepo-hey-text{
    position: relative;
    bottom: 70px;
    left: 0px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    margin-right: 15px;
}



@keyframes emoteUp {
    from{
        top: 0;
        right: 0;
    }
    to{
        top: -10px;
        right: -10px;
    }
}

@keyframes emoteDown {
    from{
        top: -10px;
        right: -10px;
    }
    to{
        top: 0px;
        right: 0px;
    }
}

@media all and (orientation:landscape){
    main{
        grid-template-columns: 1fr 0.01fr 1fr;
        background-color: darkslateblue;
    }
    .divider{
        background-color: rgb(42, 32, 104);
    }
    @keyframes leftemoteout{
        from{
            top: 0;
            right: 0;
        }
        to{
            top: 0px;
            right: -50vw;
        }
    }
    @keyframes RightEmoteOut{
        from{
            top: 0;
            right: 0;
        }
        to{
            top: 0px;
            right: -50vw;
        }
    }
}

@media all and (orientation:portrait) {
    .peepo-hey-div{
        display: none;
    }
    main{
        grid-template-rows: 1fr 0.01fr 1fr;
        background-color: darkmagenta;
    }
    .divider{
        display: none;
    }
}
