*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #352b74;
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rosybrown;
    grid-column: 1 / 4;
    height: 100px;
    font-size: 80px;
    margin-bottom: 30px;
}

header > div{
    margin-left: 100px;
}

main{
    display: flex;
    grid-column: 2;
    grid-row: 2;
    flex-direction: column;
    font-size: 40px;
}

.emote{
    display: grid;
    grid-template-columns: 75px 600px 100px 100px;
    margin-bottom: 10px;
}

.emote-img{
    height: 50px;
}

.none{
    display: none;
}

.filter-button{
    background-color: rgb(157, 118, 118);
    user-select: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 40px;
}
.filter-button:hover{
    background-color: rgb(124, 93, 93);
}